{{define "main"}}
    <div id="project" class="container grid grid-tablet-1 grid-desktop-2">
        {{$screenshoot := .Resources.GetMatch "screenshoot.*"}}
        <div 
            class="background" 
            style="background-image: url({{$screenshoot}});">
        </div>
        
        <section class="background">
            <div style="margin-bottom: 1.5rem;">
                <h2>{{T "desc"}}</h2>
                <b>{{.Summary | plainify | safeHTML}}</b>
            </div>
            <div>
                {{with .Resources.GetMatch "table.*"}}
                    {{.Content}}
                {{end}}
            </div>
            <div>
                {{$content := split .RawContent "<!--more-->"}}
                <p>{{index $content 1 | markdownify}}</p>
            </div>
        </section>
    </div>

    {{with .Params.lighthouse}}
        <section class="container ">
            <h2>{{T "parameters for home page"}}</h2>
            <div class="grid grid-tablet-4 grid-desktop-4">
                {{range $map := .}}
                    {{range $key, $value := $map}}
                        <div class="background card--performance">
                            <p>{{T $key}}</p>
                            <p>{{$value}}</p>
                        </div>
                    {{end}}
                {{end}}
            </div>
        </section>
    {{end}}

    {{with .Params.gallery}}
        <section class="container">
            <h2>{{T "gallery"}}</h2>
            <div class="grid grid-mobile-2 grid-tablet-4 grid-desktop-6">
                {{range .}}
                    <div>
                        {{$imgbig := $.Page.Resources.Get .file}}
                        {{$imgsmall := $imgbig.Resize "512x"}}
                        {{$caption := .caption}}
                        {{$title := $.Page.Title}}
                        <figure>
                            <a href="{{$imgbig.RelPermalink}}" data-lightbox="{{$title}}" data-title="{{$caption}}">
                                <img src="{{$imgsmall.RelPermalink}}" alt="{{$caption}}">
                            </a>
                            <figcaption>{{$caption}}</figcaption>
                        </figure>
                    </div>
                {{end}}
            </div>
        </section>
    {{end}}
        
    {{$tags := .Params.tags}}
    {{with where (where .Site.RegularPages ".Params.categories" "intersect" (slice "article")) ".Params.tags" "intersect" $tags}}
        <section class="container">
            <h2>{{T "articles"}}</h2>
            <div style="display: flex; flex-direction: column; gap: 1.5rem;">
                {{range . }}
                    {{if ne .Permalink $.Permalink}}
                        {{.Render "row--article"}}
                    {{end}}
                {{end}}
            </div>
        </section>
    {{end}}
        
    {{with where (where .Site.RegularPages ".Params.categories" "intersect" (slice "post")) ".Params.tags" "intersect" $tags}}
        <section class="container">
            <h2>{{T "posts"}}</h2>
            <div style="display: flex; flex-direction: column; gap: 1.5rem;">
                {{range . }}
                    {{if ne .Permalink $.Permalink}}
                        {{.Render "row--article"}}
                    {{end}}
                {{end}}
            </div>
        </section>
    {{end}}
{{end}}