{{/* $img := $.Resources.GetMatch (printf "%s.*" .Params.image )*/}}
{{$img := .Page.Resources.GetMatch (printf "%s.%s" .Params.image.name .Params.image.extension)}}

<article class="card--article">
    {{with $img}}
        <div class="image">
            <img src="{{.RelPermalink}}" height="{{$.Params.image.height}}" width="{{$.Params.image.width}}" alt="">
        </div>
    {{end}}
    
    <div class="summary">
        {{if .Summary}}
            {{if .Params.readMore}}
                <a href="{{.RelPermalink}}">
                    <h3>{{.Params.shortTitle | default .Title}}</h3>
                </a>
            {{else}}
                <h3>{{.Params.shortTitle | default .Title}}</h3>
            {{end}}
            <p>{{.Summary | plainify | safeHTML}}</p>
        {{else}}
            {{if .Params.readMore}}
                <a href="{{.RelPermalink}}">
                    <h3 style="margin-bottom: 0;">{{.Params.shortTitle | default .Title}}</h3>
                </a>
            {{else}}
                <h3 style="margin-bottom: 0;">{{.Params.shortTitle | default .Title}}</h3>
            {{end}}
        {{end}}
        {{/*
        {{if .Params.readMore}}
            <div>
                <a href="{{.RelPermalink}}">{{T "read more"}} ></a>
            </div>
        {{end}}
        */}}
    </div>
</article>