<div class="row--article">
    <div class="left">
        <a href="{{.RelPermalink}}">{{.Title}}</a>
        <span class="divider">|</span>
        <span>{{.Params.subtitle}}</span>
    </div>

    <div class="right">
        {{if .Params.tags}}
            <span>
                {{range .Params.tags}}
                    <a href="/tags/{{. | urlize}}" class="tag">
                        {{- . -}}
                    </a>
                {{end}}
            </span>
            <div class="divider">|</div>
        {{end}}
        <span>{{.PublishDate.Format "2006-01-02"}}</span>
    </div>
</div>