body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

p,
ul,
ol {
    margin: 0;
}

p+p,
p+h1,
p+h2,
p+h3,
p+h4,
ul+p,
ol+p {
    margin-top: 1.5rem;
}

h1,
h2,
h3,
h4 {
    font-family: monospace;
    font-weight: 900;
    margin: 0;
    text-transform: lowercase;
}

h1 {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}

h2::before {
    content: ".: ";
}

h3 {
    font-size: 1.125rem;
    line-height: 1.333333;
}

h3::before {
    content: "-> ";
}

h4 {
    font-size: 1rem;
    line-height: 1.5;
}

h4::before {
    content: "=> ";
}

a {
    text-decoration: none;
}