:root {
    --svarozyc--black-95: #0D0D0D;
    --svarozyc--black-90: #1A1A1A;
    --svarozyc--black-75: #404040;
    --svarozyc--black-65: #595959;
    --svarozyc--white-65: #A6A6A6;
    --svarozyc--white-75: #BFBFBF;
    --svarozyc--white-90: #E6E6E6;
    --svarozyc--white-95: #F2F2F2;

    --svarozyc--red: #E64C4C;
    --svarozyc--yellow: #C06E1B;
    --svarozyc--olive: #868613;
    --svarozyc--green: #549315;
    --svarozyc--cyan: #159393;
    --svarozyc--blue: #2985E0;
    --svarozyc--violet: #7575EB;
    --svarozyc--magenta: #A663E9;

    --svarozyc--red-dark: #D61F1F;
    --svarozyc--yellow-dark: #A15C17;
    --svarozyc--olive-dark: #707010;
    --svarozyc--green-dark: #457811;
    --svarozyc--cyan-dark: #117878;
    --svarozyc--blue-dark: #1C70C4;
    --svarozyc--violet-dark: #5A5AE7;
    --svarozyc--magenta-dark: #913FE4;
}

/* BREAKPOINTS */
/* tablet: 766px */
/* desktop: 1389px */ 

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1.125rem;
    line-height: 1.333333;
    color: var(--svarozyc--white-90);
    background-color: var(--svarozyc--black-95);
}

main {
    padding: 0 1.5rem;
}

h1,
h2,
h3 {
    font-family: monospace;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}

h1::before,
h1::after {
    content: " - "
}

h2 {
    font-size: 1.125rem;
    text-transform: uppercase;
}

h2::before,
h2::after {
    content: " -- ";
}

h3 {
    font-size: 1.125rem;
}

h3::before,
h3::after {
    content: " --- ";
}

h4::before,
h4::after {
    content: " ---- ";
}

a {
    color: var(--svarozyc--blue);
    text-decoration: none;
}

a.current {
    color: var(--svarozyc--green);
}

a:hover {
    color: var(--svarozyc--yellow);
}

p {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
}

p:last-child {
    margin-bottom: 0;
}


svg {
    display: block;
}

ol,
ul {
    margin: 1.5rem 0;
}

ol:nth-last-child(2),
ul:nth-last-child(2) {
    margin-bottom: 0;
}

article > ol:last-child,
article > ul:last-child {
    margin-bottom: 0;
}

blockquote {
    border-left: 5px solid var(--svarozyc--magenta);
    margin: 1.5rem;
    padding-left: 1.5rem;
}

/* HEADER TOP */
body > header {
    background-color: var(--svarozyc--black-90);
    padding: 1.5rem;
    font-family: monospace;
    
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

body > header > nav.desktop {
    flex-wrap: wrap;
    gap: 1.5rem;
    
    display: none;
}

body > header > nav.mobile {
    cursor: pointer;
}

body > header > nav.mobile > div {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    z-index: 100;
}

body > header > nav.mobile:hover > div {
    background-color: var(--svarozyc--black-90);
    display: block;
    width: 100%;
}

body > header > nav.mobile > div > div {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}

body > header > nav a {
    color: var(--svarozyc--white-90);
}

@media screen and (min-width: 1389px) {
    body > header > nav.mobile {
        display: none;
    }
    
    body > header > nav.desktop {
        display: flex;
    }
}

/* HERO */
.hero {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero .subtitle {
    font-family: monospace;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* CONTAINERS */

.container {
    margin-bottom: 3rem;
    /* outline: 1px solid red; */
}

.container:last-of-type {
    margin-bottom: 1.5rem;
}

.container-4 {
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
}

article.container-4,
aside.container-4 {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 450px) {
    article.container-4,
    aside.container-4 {
        font-size: 1rem;
        line-height: 1.5;
    }
}


.container-12 {
    margin-bottom: 3rem;
}

.background {
    padding: 1.5rem;
    background-color: var(--svarozyc--black-90);
    border-radius: 0.5rem;
}

/* GRID */
.grid {
    display: grid;
    gap: 1.5rem; 
}

@media screen and (min-width: 1px) {
    .grid-mobile-1 {
        grid-template-columns: 1fr;
    }
    .grid-mobile-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 766px) {
    .grid-tablet-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-tablet-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-tablet-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1389px) {
    .grid-desktop-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-desktop-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-desktop-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    .grid-desktop-12 {
        grid-template-columns: repeat(12, 1fr);
    }
}

/* CARD--ARTICLE */

.card--article {
    background-color: var(--svarozyc--black-90);
    border-radius: 0.5rem;
    border: 1px solid var(--svarozyc--black-90);
}

.card--article > div.image {
    background-color: var(--svarozyc--black-95);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1.5rem;
    height: 15rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--article > div.image > img {
    width: 100%;
}

.card--article > div.summary {
    padding: 1.5rem;
}

.card--article > div.summary > div {
    display: flex;
    justify-content: end;
}

.card--article h3::before,
.card--article h3::after {
    content: "";
}

/* CARD--SINGLESVG */
.card--singlesvg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4.5rem;
}

.card--singlesvg > img {
    width: 100%;
}

/* ROWS */
.rows {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* ROW--ARTICLE */
.row--article {
    background-color: var(--svarozyc--black-90);
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row--article div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row--article .tag::after {
    content: ", "
}

.row--article .tag:last-child::after {
    content: "";
}

.row--article .right,
.row--article .divider {
    display: none;
}

.row--article .right {
    flex-grow: 0;
}

.row--article .left {
    flex-grow: 2;
}

@media screen and (min-width: 766px) {
    .row--article .left {
        flex-direction: row;
    }

    .row--article .divider {
        display: initial;
    } 
}

@media screen and (min-width: 1389px) {
    .row--article,
    .row--article div {
        flex-direction: row;
    }
    
    .row--article .right {
        display: inherit;
    }
    .row--article .divider {
        display: initial;
    }

}

/* FOOTER */
footer {
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    justify-content: center;
}

footer > span {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    border-top: 1px dashed var(--svarozyc--white-90);
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}

footer a {
    color: var(--svarozyc--white-90);
}

/* BREADCRUMBS */
.breadcrumbs {
    list-style-type: none;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.breadcrumbs--desktop {
    display: none;
}

.breadcrumbs--mobile {
    display: flex;
}

.breadcrumbs--desktop li+li::before {
    content: "/";
    margin: 0 0.75rem;
}

.breadcrumbs--mobile li::before {
    content: "<";
}

@media screen and (min-width: 1389px) {
    .breadcrumbs--mobile {
        display: none;
    }

    .breadcrumbs--desktop {
        display: flex;
    }
}

/* FIGURE */

figure {
    margin: 0;
}

figure img {
    width: 100%;
    display: block;
}

figure figcaption {
    margin: 1.5rem 0;
    text-align: center;
    font-style: italic;
}

figure:last-child figcaption {
    margin-bottom: 0;
}

/* META */
#meta.container-4 {
    margin-bottom: 1.5rem;
}

aside#meta {
    display: flex;
    justify-content: space-between;
}

/* KATEX */
.katex {
    font: normal 1.125rem KaTeX_Main,Times New Roman,serif;
    line-height: 1.333333;
}

.katex-display {
    margin: 1.5rem 0;
    max-width: 100%;
    overflow-x: auto;
}

/* TABLE */

.table-wrapper {
    overflow-x: auto;
    max-width: calc(100vw - 2rem);
    margin-bottom: 1.5rem;
}

table {
    width: 100%;
    font-size: 0.875rem;
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid var(--svarozyc--black-65);
}

td,
th {
    padding: 0.25rem;
}

td {
    text-align: center;
}

td:nth-child(1) {
    text-align: left;
}


.mono table {
    font-family: monospace;
    font-size: 1.125rem;
}

.mono table tr {
    height: 3rem;
}

.mono table td,
.mono table th {
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
}

#project > div:nth-child(1) {
    min-height: 528px;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
}

#project > div:nth-child(1):hover {
    filter: grayscale(0);
}

#project img {
    max-width: 100%;
    height: auto;
}

/* CARD--ICON */
.card--icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--icon a svg {
    fill: var(--svarozyc--blue);
    height: 48px;
}

.card--icon a svg:hover {
    fill: var(--svarozyc--yellow);
}

/* CARD--COURSE */
.card--course {
    text-align: center;
}

/* CARD--PERFORMANCE */
.card--performance {
    text-align: center;
}
.card--performance p:last-child {
    font-size: 3rem;
    line-height: 1;
    color: var(--svarozyc--green);
}