:root {
    --svarozyc--black-95: #0D0D0D;
    --svarozyc--black-90: #1A1A1A;
    --svarozyc--black-75: #404040;
    --svarozyc--black-65: #595959;
    --svarozyc--white-65: #A6A6A6;
    --svarozyc--white-75: #BFBFBF;
    --svarozyc--white-90: #E6E6E6;
    --svarozyc--white-95: #F2F2F2;

    --svarozyc--red: #E64C4C;
    --svarozyc--yellow: #C06E1B;
    --svarozyc--olive: #868613;
    --svarozyc--green: #549315;
    --svarozyc--cyan: #159393;
    --svarozyc--blue: #2985E0;
    --svarozyc--violet: #7575EB;
    --svarozyc--magenta: #A663E9;

    --svarozyc--red-dark: #D61F1F;
    --svarozyc--yellow-dark: #A15C17;
    --svarozyc--olive-dark: #707010;
    --svarozyc--green-dark: #457811;
    --svarozyc--cyan-dark: #117878;
    --svarozyc--blue-dark: #1C70C4;
    --svarozyc--violet-dark: #5A5AE7;
    --svarozyc--magenta-dark: #913FE4;
}

/* BREAKPOINTS */
/* tablet: 608px */
/* desktop: 1240px */ 

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1.125rem;
    line-height: 1.333333;
    color: var(--svarozyc--white-90);
    background-color: var(--svarozyc--black-95);
}

h1,
h2,
h3 {
    font-family: monospace;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
}

h1::before,
h1::after {
    content: " - "
}

h2 {
    font-size: 1.125rem;
    text-transform: uppercase;
}

h2::before,
h2::after {
    content: " -- ";
}

h3 {
    font-size: 1.125rem;
}

h3::before,
h3::after {
    content: " --- ";
}

a {
    color: var(--svarozyc--blue);
    text-decoration: none;
}

a:hover {
    color: var(--svarozyc--yellow);
}

p {
    margin: 1.5rem 0;
}

svg {
    display: block;
}

/* HEADER TOP */
body > header {
    background-color: var(--svarozyc--black-90);
    padding: 1.5rem;
    font-family: monospace;
    
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

body > header > nav.desktop {
    flex-wrap: wrap;
    gap: 1.5rem;
    
    display: none;
}

body > header > nav.mobile {
    cursor: pointer;
}

body > header > nav.mobile > div {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
}

body > header > nav.mobile:hover > div {
    background-color: var(--svarozyc--black-90);
    display: block;
    width: 100%;
}

body > header > nav.mobile > div > div {
    padding: 1.5rem;
    width: 100%;
    text-align: center;
}

body > header > nav a {
    color: var(--svarozyc--white-90);
}

@media screen and (min-width: 1240px) {
    body > header > nav.mobile {
        display: none;
    }
    
    body > header > nav.desktop {
        display: flex;
    }
}

/* HERO */
.hero {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.hero .subtitle {
    font-family: monospace;
    text-align: center;
}

/* CONTAINERS */

.container {
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    outline: 1px solid red;
}

/* GRID */
.grid {
    display: grid;
    gap: 1.5rem; 
}

@media screen and (min-width: 766px) {
    .grid-tablet-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1389px) {
    .grid-desktop-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card--article {
    background-color: var(--svarozyc--black-90);
    border-radius: 0.5rem;
    border: 1px solid var(--svarozyc--black-90);
}

.card--article > h3,
.card--article > p,
.card--article > a {
}

.card--article > div:nth-child(1) {
    background-color: var(--svarozyc--black-95);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1.5rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--article > div:nth-child(2) {
    padding: 1.5rem;
}

.card--article > div:nth-child(2) > div {
    display: flex;
    justify-content: end;
}