<nav>
    <ol class="breadcrumbs breadcrumbs--desktop" itemscope itemtype="https://schema.org/BreadcrumbList">
        {{- /* declare a 'variable' to store the each link position */}}
        {{- $data := newScratch -}}

        {{- range $index, $value := .Ancestors.Reverse }}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- /* read the index from loop and add 'one', because it starts counting from zero */}}
                {{- $data.Set "counter" $index -}}
                {{- $data.Add "counter" 1 -}}
                <a itemprop="item" href="{{- .Permalink -}}"><span itemprop="name">{{- .Params.shortTitle | default .Title -}}</span></a>
                {{- /* pass the counter value into schema attribute */}}
                <meta itemprop="position" content='{{- $data.Get "counter" -}}' />
            </li>         
        {{- end -}}
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                {{- /* add 'one' one more time for the last link position */}}
                {{- $data.Add "counter" 1 -}}
                <a itemprop="item" href="{{ .Permalink }}" class="current"><span itemprop="name">{{.Params.shortTitle | default .Title}}</span></a>
                {{- /* pass the counter value into schema attribute */}}
                <meta itemprop="position" content='{{- $data.Get "counter" -}}' />
            </li>
    </ol>

    <ol class="breadcrumbs breadcrumbs--mobile">
        {{- range $index, $value := .Ancestors }}
            {{- if eq $index 0 }}
                <li>
                    <a href="{{.Permalink}}">{{.Params.ShortTitle | default .Title}}</a>
                </li>
            {{- end}}
        {{- end }}
    </ol>
</nav>