RewriteEngine on

#from http + non-www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

#from http + www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

#from https + non-www
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

ErrorDocument 404 /404/

# Expires
<IfModule LiteSpeed>
  <FilesMatch "\.(webm|webp|css|svg|js|jpg|gif|png)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
</IfModule>

# Redirects
Redirect 301 /elektronika/uklad-zasilajacy-do-plytek-stykowych/ https://www.jedrasiak.pl/baza-wiedzy/artykuly/uklad-zasilajacy-do-plytek-stykowych/
Redirect 301 /elektronika/czujnik-zmierzchu/ https://www.jedrasiak.pl/baza-wiedzy/artykuly/czujnik-zmierzchu/
Redirect 301 /elektronika/multiwibrator-dwustanowy-bistabilny/ https://www.jedrasiak.pl/baza-wiedzy/artykuly/multiwibrator-dwustanowy-bistabilny/
Redirect 301 /projektowanie-graficzne/paleta-kolorow-ral-tabela-kodow-rgb-cmyk-i-hex/ https://www.jedrasiak.pl/narzedzia/paleta-kolorow-ral/
Redirect 301 /marka-svarozyc/robot-na-marsie-czyli-jak-znalezc-pomysl-na-siebie/ https://www.jedrasiak.pl/baza-wiedzy/artykuly/robot-na-marsie-czyli-jak-znalezc-pomysl-na-siebie/

Redirect 301 /o-mnie/misja-i-wizja/ https://www.jedrasiak.pl/kontakt/
Redirect 301 /o-mnie/curriculum-vitae/ https://www.jedrasiak.pl/kontakt/
Redirect 301 /o-mnie/zyciorys/ https://www.jedrasiak.pl/kontakt/
Redirect 301 /o-mnie/wyksztalcenie/ https://www.jedrasiak.pl/kontakt/
Redirect 301 /o-mnie/szkolenia-i-konferencje/ https://www.jedrasiak.pl/kontakt/
Redirect 301 /o-mnie/umiejetnosci/ https://www.jedrasiak.pl/kontakt/
Redirect 301 /o-mnie/test-gallupa/ https://www.jedrasiak.pl/kontakt/clifton-strengths/
Redirect 301 /o-mnie/ https://www.jedrasiak.pl/kontakt/