{{define "main"}}
    <section class="container">
        <h2>{{T "featured"}} {{T "articles"}}</h2>
        <div class="grid grid-tablet-2 grid-desktop-4">
            {{range first 4 (where .Site.RegularPages ".Params.categories" "intersect" (slice "article"))}}
                {{ .Render "card--article" }}
            {{end}}
        </div>
        {{$articles := .Site.GetPage "articles"}}
        <div style="display: flex; justify-content: end; margin-top: 1.5rem;">
            <a href="{{$articles.RelPermalink}}">{{T "view all"}} ></a> 
        </div>
    </section>

    <section class="container">
        <h2>{{T "featured"}} {{T "links"}}</h2>
        <div style="display: flex; flex-direction: column; gap: 1.5rem;">
            {{range first 4 (where .Site.RegularPages ".Params.categories" "intersect" (slice "link"))}}
                {{.Render "row--article"}}
            {{end}}
        </div>
        {{$links := .Site.GetPage "links"}}
        <div style="display: flex; justify-content: end; margin-top: 1.5rem;">
            <a href="{{$links.RelPermalink}}">{{T "view all"}} ></a> 
        </div>
    </section>
{{end}}